# PyCity Schools Analysis

* On average, students at charter schools outperformed those at district schools. This is especially true for math. Charter school studentâ€™s average math score average was 6.57 higher compared to average math score of district school students. Additionally, the average reading score of charter students was higher by 2.93. The percent of students with passing grades was also higher for charter schools - 27.07% in math and 15.79% in reading. 

* There was a very small performance difference between schools of small and medium size. However, students in large schools performed significantly lower than both small and medium schools. This is true for both math and reading. Only 69.96% of students in large schools received a passing score in math as compared to 93.55% and 93.60% of students in small and medium school students respectively. For reading, 82.77% from large school students received a passing score in reading compared to 96.10% and 96.79% of students from small and medium schools.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
numSchools=school_data["school_name"].count()
#Calculate the total number of students
total_students=school_data["size"].sum()
#Calculate the total budget
total_budget=school_data["budget"].sum()
#Calculate the average math score 
avg_math=student_data["math_score"].mean()
#Calculate the average reading score
avg_read=student_data["reading_score"].mean()
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
avg_score=(avg_math+avg_read)/2
#Calculate the percentage of students with a passing math score (70 or greater)
mathpass=student_data.loc[(student_data["math_score"]>=70),:]
num_mathpass=mathpass["grade"].count()
mathpassP=(num_mathpass/total_students)*100
#Calculate the percentage of students with a passing reading score (70 or greater)
readpass=student_data.loc[(student_data["reading_score"]>=70),:]
num_readpass=readpass["grade"].count()
readpassP=(num_readpass/total_students)*100

#Create a dataframe to hold the results
district_summary=pd.DataFrame([
    {"Total Schools":numSchools,
     "Total Students":total_students,
     "Total Budget":total_budget, 
     "Average Math Score":avg_math,
    "Average Reading Score":avg_read,
     "% Passing Math":mathpassP,
     "% Passing Reading":readpassP,
     "% Overall Passing Rate":avg_score}
])

#Apply formatting 
district_summary["Total Students"]=district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"]=district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"]=district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Average Reading Score"]=district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["% Passing Math"]=district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"]=district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing Rate"]=district_summary["% Overall Passing Rate"].map("{:.2f}%".format)

district_summary=district_summary[["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading Score",
                                 "% Passing Math","% Passing Reading","% Overall Passing Rate"]]
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.43%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
#Group Student Data by school and calculate scores
group_school=student_data.groupby(["school_name"])
stu_num=group_school["gender"].count()
school_math=group_school["math_score"].mean()
school_reading=group_school["reading_score"].mean()
school_mathP=student_data[student_data["math_score"]>=70].groupby(["school_name"])
school_mathPass=100*school_mathP["gender"].count()/stu_num
school_readingP=student_data[student_data["reading_score"]>=70].groupby(["school_name"])
school_readingPass=100*school_readingP["gender"].count()/stu_num
school_overallP=(school_mathPass+school_readingPass)/2

#Store score by school information in a dataframe
score_summary=pd.DataFrame({
    "Average Math Score":school_math,
    "Average Reading Score":school_reading,
    "% Passing Math": school_mathPass,
    "% Passing Reading": school_readingPass,
    "% Overall Passing Rate":school_overallP
})

#Get school information
schooldf=school_data[["school_name","type","size","budget"]]
schooldf=schooldf.rename(columns={"type":"School Type","size":"Total Students","budget":"Total Budget"})
schooldf["Per Student Budget"]=schooldf["Total Budget"]/schooldf["Total Students"]

#Merge data frames
school_summary=pd.merge(schooldf, score_summary, on="school_name", how="left")
school_summary=school_summary.set_index("school_name")
school_summary.sort_values("school_name")

#Format table
school_summaryFormatted=school_summary.copy(deep=True)
school_summaryFormatted["Total Students"]=school_summaryFormatted["Total Students"].map("{:,}".format)
school_summaryFormatted["Total Budget"]=school_summaryFormatted["Total Budget"].map("${:,.2f}".format)
school_summaryFormatted["Per Student Budget"]=school_summaryFormatted["Per Student Budget"].map("${:,.2f}".format)
school_summaryFormatted["Average Math Score"]=school_summaryFormatted["Average Math Score"].map("{:.2f}".format)
school_summaryFormatted["Average Reading Score"]=school_summaryFormatted["Average Reading Score"].map("{:.2f}".format)
school_summaryFormatted["% Passing Math"]=school_summaryFormatted["% Passing Math"].map("{:.2f}%".format)
school_summaryFormatted["% Passing Reading"]=school_summaryFormatted["% Passing Reading"].map("{:.2f}%".format)
school_summaryFormatted["% Overall Passing Rate"]=school_summaryFormatted["% Overall Passing Rate"].map("{:.2f}%".format)

school_summaryFormatted

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,94.97%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
#Sort and display the top five schools in overall passing rate
top_schools=school_summary.sort_values("% Overall Passing Rate", ascending=False).head()
top_schoolsFormatted=top_schools.copy(deep=True)
top_schoolsFormatted["Total Students"]=top_schoolsFormatted["Total Students"].map("{:,}".format)
top_schoolsFormatted["Total Budget"]=top_schoolsFormatted["Total Budget"].map("${:,.2f}".format)
top_schoolsFormatted["Per Student Budget"]=top_schoolsFormatted["Per Student Budget"].map("${:,.2f}".format)
top_schoolsFormatted["Average Math Score"]=top_schoolsFormatted["Average Math Score"].map("{:.2f}".format)
top_schoolsFormatted["Average Reading Score"]=top_schoolsFormatted["Average Reading Score"].map("{:.2f}".format)
top_schoolsFormatted["% Passing Math"]=top_schoolsFormatted["% Passing Math"].map("{:.2f}%".format)
top_schoolsFormatted["% Passing Reading"]=top_schoolsFormatted["% Passing Reading"].map("{:.2f}%".format)
top_schoolsFormatted["% Overall Passing Rate"]=top_schoolsFormatted["% Overall Passing Rate"].map("{:.2f}%".format)
top_schoolsFormatted

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
bottom_schools=school_summary.sort_values("% Overall Passing Rate").head()

bottom_schoolsFormatted=bottom_schools.copy(deep=True)
bottom_schoolsFormatted["Total Students"]=bottom_schoolsFormatted["Total Students"].map("{:,}".format)
bottom_schoolsFormatted["Total Budget"]=bottom_schoolsFormatted["Total Budget"].map("${:,.2f}".format)
bottom_schoolsFormatted["Per Student Budget"]=bottom_schoolsFormatted["Per Student Budget"].map("${:,.2f}".format)
bottom_schoolsFormatted["Average Math Score"]=bottom_schoolsFormatted["Average Math Score"].map("{:.2f}".format)
bottom_schoolsFormatted["Average Reading Score"]=bottom_schoolsFormatted["Average Reading Score"].map("{:.2f}".format)
bottom_schoolsFormatted["% Passing Math"]=bottom_schoolsFormatted["% Passing Math"].map("{:.2f}%".format)
bottom_schoolsFormatted["% Passing Reading"]=bottom_schoolsFormatted["% Passing Reading"].map("{:.2f}%".format)
bottom_schoolsFormatted["% Overall Passing Rate"]=bottom_schoolsFormatted["% Overall Passing Rate"].map("{:.2f}%".format)
bottom_schoolsFormatted

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#Create a pandas series for each grade. Hint: use a conditional statement.Group each series by school
df9=student_data[student_data["grade"]=="9th"].groupby(["school_name"])
nine=df9["math_score"].mean()
df10=student_data[student_data["grade"]=="10th"].groupby(["school_name"])
ten=df10["math_score"].mean()
df11=student_data[student_data["grade"]=="11th"].groupby(["school_name"])
eleven=df11["math_score"].mean()
df12=student_data[student_data["grade"]=="12th"].groupby(["school_name"])
twelve=df12["math_score"].mean()

#Combine the series into a dataframe
math_bygrade=pd.DataFrame({"9th": nine,
                           "10th": ten,
                           "11th":eleven,
                           "12th":twelve})

#Optional: give the displayed data cleaner formatting
math_bygradeFormatted=math_bygrade.copy(deep=True)
math_bygradeFormatted["9th"]=math_bygradeFormatted["9th"].map("{:.2f}".format)
math_bygradeFormatted["10th"]=math_bygradeFormatted["10th"].map("{:.2f}".format)
math_bygradeFormatted["11th"]=math_bygradeFormatted["11th"].map("{:.2f}".format)
math_bygradeFormatted["12th"]=math_bygradeFormatted["12th"].map("{:.2f}".format)
math_bygradeFormatted

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
#Create a pandas series for each grade. Hint: use a conditional statement.Group each series by school
#I used the grouping from the math by grade
nineR=df9["reading_score"].mean()
tenR=df10["reading_score"].mean()
elevenR=df11["reading_score"].mean()
twelveR=df12["reading_score"].mean()

#Combine the series into a dataframe
reading_bygrade=pd.DataFrame({"9th": nineR,
                           "10th": tenR,
                           "11th":elevenR,
                           "12th":twelveR})

reading_bygrade

#Optional: give the displayed data cleaner formatting
reading_bygradeFormatted=reading_bygrade.copy(deep=True)
reading_bygradeFormatted["9th"]=reading_bygradeFormatted["9th"].map("{:.2f}".format)
reading_bygradeFormatted["10th"]=reading_bygradeFormatted["10th"].map("{:.2f}".format)
reading_bygradeFormatted["11th"]=reading_bygradeFormatted["11th"].map("{:.2f}".format)
reading_bygradeFormatted["12th"]=reading_bygradeFormatted["12th"].map("{:.2f}".format)
reading_bygradeFormatted

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
schoolspend=school_summary[["Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
schoolspend["Per Student Budget"]=pd.cut(schoolspend["Per Student Budget"], spending_bins, labels=group_names)
schoolspend=schoolspend.rename(columns={"Per Student Budget":"Spending Ranges (Per Student)"})
schoolspend=schoolspend.groupby("Spending Ranges (Per Student)")
scores_by_schoolspend=schoolspend.mean()
#format
scores_by_schoolspend["Average Math Score"]=scores_by_schoolspend["Average Math Score"].map("{:.2f}".format)
scores_by_schoolspend["Average Reading Score"]=scores_by_schoolspend["Average Reading Score"].map("{:.2f}".format)
scores_by_schoolspend["% Passing Math"]=scores_by_schoolspend["% Passing Math"].map("{:.2f}%".format)
scores_by_schoolspend["% Passing Reading"]=scores_by_schoolspend["% Passing Reading"].map("{:.2f}%".format)
scores_by_schoolspend["% Overall Passing Rate"]=scores_by_schoolspend["% Overall Passing Rate"].map("{:.2f}%".format)
scores_by_schoolspend

C:\Users\meron\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46%,96.61%,95.04%
$585-615,83.60,83.89,94.23%,95.90%,95.07%
$615-645,79.08,81.89,75.67%,86.11%,80.89%
$645-675,77.00,81.03,66.16%,81.13%,73.65%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
schoolsize=school_summary[["Total Students","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
schoolsize["Total Students"]=pd.cut(schoolsize["Total Students"], size_bins, labels=group_names)
schoolsize=schoolsize.rename(columns={"Total Students":"School Size"})
schoolsize=schoolsize.groupby("School Size")
score_by_schoolsize=schoolsize.mean()
#format
score_by_schoolsize["Average Math Score"]=score_by_schoolsize["Average Math Score"].map("{:.2f}".format)
score_by_schoolsize["Average Reading Score"]=score_by_schoolsize["Average Reading Score"].map("{:.2f}".format)
score_by_schoolsize["% Passing Math"]=score_by_schoolsize["% Passing Math"].map("{:.2f}%".format)
score_by_schoolsize["% Passing Reading"]=score_by_schoolsize["% Passing Reading"].map("{:.2f}%".format)
score_by_schoolsize["% Overall Passing Rate"]=score_by_schoolsize["% Overall Passing Rate"].map("{:.2f}%".format)
score_by_schoolsize

C:\Users\meron\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,94.82%
Medium (1000-2000),83.37,83.86,93.60%,96.79%,95.20%
Large (2000-5000),77.75,81.34,69.96%,82.77%,76.36%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [10]:
schooltype=school_summary[["School Type","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
schooltype=schooltype.groupby("School Type")
score_by_schooltype=schooltype.mean()

score_by_schooltype["Average Math Score"]=score_by_schooltype["Average Math Score"].map("{:.2f}".format)
score_by_schooltype["Average Reading Score"]=score_by_schooltype["Average Reading Score"].map("{:.2f}".format)
score_by_schooltype["% Passing Math"]=score_by_schooltype["% Passing Math"].map("{:.2f}%".format)
score_by_schooltype["% Passing Reading"]=score_by_schooltype["% Passing Reading"].map("{:.2f}%".format)
score_by_schooltype["% Overall Passing Rate"]=score_by_schooltype["% Overall Passing Rate"].map("{:.2f}%".format)
score_by_schooltype

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,95.10%
District,76.96,80.97,66.55%,80.80%,73.67%